.messageBody{
    margin: 0 auto;
    margin-top: 15px;
    width: 90%;
    height: 60px;
    background: #F8F8F7;
    border-radius: 10px;

    display: flex;
    align-items: center;
}

.messageTime{
    padding: 5px;
    background: #FFFFFF;
    width: 45px;
    height: 25px;
    border-radius: 5px;
    font-size: 16px;

    margin-left: 15px;
}

.messageText{
    margin-left: 30px;
}

.messageType{
    margin-left: 380px;
}

